.iframe-container {
  overflow: hidden;
  /* 8:5 aspect ratio (divide 5 by 8 = 0.625)*/
  padding-top: 62.5%;
  position: relative;
}
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}